/* quartz/components/styles/footer.scss */

footer {
  ul.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.footer-links li {
    display: inline;
    margin-right: 16px; /* 间隔 */
  }
  ul.footer-links a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
  }
  ul.footer-links a img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
}
